<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}}
        <h1>About page!!!</h1>
        <h2>{{author}}</h2>
        {{>footer}}
    </body>
</html>