<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
         {{>header}}
        <h1>Help page!!!</h1>
        <img src="./img/star.png" alt="">
        <p><span>hello1</span></p>
        {{>footer}}

    </body>
</html>